body {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}

.page-content {
  text-align: left;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
