* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #878787;
  background-color: white;
}

img {
  max-width: 100%;
}

a img {
  vertical-align: top;
}

a:hover {
  color: #56cfe1;
}

.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin: 0 -15px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  border: none;
  background: none;
}

.col-2,
.col-3,
.col-4,
.col-6 {
  float: left;
  padding: 0 15px;
}

.col-2 {
  width: 16.666666666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333333%;
}

.col-6 {
  width: 50%;
}

.text-red {
  color: #ec0101;
}

.text-cyan {
  color: #56cfe1;
}

/* Header Banner */
.header-banner {
  background-color: #e91e63;
  color: white;
}

.header-banner a:hover {
  color: white;
}

.header-banner__link {
  position: relative;
}

.header-banner__text {
  font-size: 12px;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 44px;
}

.header-banner__text strong {
  font-size: 14px;
  font-weight: 600;
}

.header-banner button {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 25%;
  transform: translateY(-25%);
  color: white;
  padding: 0 15px;
}

.header-banner button:hover {
  color: #9188af;
}

/* Header */
.header-top {
  background-color: #f6f6f8;
  line-height: 21px;
  padding: 10px 15px;
  font-size: 12px;
}

.contact-info {
  display: inline-block;
}

.contact-info li {
  display: inline-block;
  margin-left: 15px;
}

.contact-info li:first-child {
  margin-left: 0;
}

.header-top__text {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-bottom {
  background-color: #fff;
  color: rgb(39, 51, 52);
  padding: 0 15px;
}

.header-logo {
  display: inline-block;
  line-height: 70px;
  width: 25%;
  float: left;
}

.header-logo img {
  width: 95px;
  height: auto;
  padding: 5px 0;
  vertical-align: middle;
}

.header-nav {
  display: inline-block;
  width: 50%;
  text-align: center;
  color: #222222;
}

.header-menu li {
  display: inline-block;
  height: 70px;
  line-height: 70px;
}

.header-menu li a {
  display: inline-block;
  padding: 0 17.5px;
  height: 100%;
}

.header-action {
  width: 25%;
  float: right;
  line-height: 70px;
  font-size: 18px;
  text-align: right;
}

.header-action li {
  display: inline-block;
  margin: 0 8px;
}

.header-action li a {
  display: inline-block;
}

/* Main */

/* Banner */

.section-banner {
  color: #ffffff;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-title {
  font-size: 60px;
  font-weight: 700;
}

.banner-sub-title {
  font-size: 18px;
  font-style: italic;
  margin: 20px 0 30px 0;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #222;
  border-radius: 40px;
  font-weight: 600;
}

.banner-content .btn-outline:hover {
  border-color: rgb(86, 207, 225);
  background-color: rgb(86, 207, 225);
  opacity: .8
}

.banner-content a {
  padding: 5px 25px;
  border-color: #ffffff;
  width: 150px;
}

.banner-content a:hover {
  color: #ffffff;
}

/* Category */
.section-category {
  margin: 30px 0px;
  padding: 0 30px;
}

.category-item {
  position: relative;
}

.category-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  padding: 12px 20px;
  background: #fff;
  min-width: 150px;
  text-align: center;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.category-name:hover {
  color: rgb(34, 34, 34);
}

/* Promotion */

.promotion-item {
  position: relative;
  color: rgb(53, 50, 50);
}

.promotion-content {
  padding: 20px;
}

.promotion-item-left .promotion-content {
  position: absolute;
  bottom: 0;
}

.promotion-item-left a:hover + div {
  color: initial;
}

.promotion-item-left h5 {
  margin-bottom: 10px;
  font-weight: 500;
}

.promotion-item-left h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 600;
}

.promotion-item-left p {
  color: rgb(135, 135, 135);
}

.discount-percent-tag {
  position: absolute;
  top: 15px;
  right: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(255, 78, 0);
  width: 60px;
  line-height: 60px;
  color: #fff;
}

.promotion-item-top .fa-heart {
  position: absolute;
  top: 12px;
  left: 24px;
  cursor: pointer;
}

.promotion-action {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translateX(-50%);
}

.promotion-action li a {
  display: inline-block;
  width: 150px;
  padding: 8px 34px;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 40px;
  text-align: center;
}

.promotion-action li a:hover {
  background: #222;
}

.time-counter {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  width: 100%;
  text-align: center;
}

.time-counter-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: 0 2px 5px;
  border-radius: 3px;
  background-color: #101010;
  color: #fff;
}

.time-counter-item span {
  display: block;
  text-align: center;
}

.time-number {
  height: 50%;
  vertical-align: bottom;
  line-height: 25px;
  font-size: 16px;
}

.time-unit {
  height: 50%;
  line-height: 25px;
  color: #999;
}

.promotion-item-product {
  display: none;
}

.promotion-item-right .promotion-content {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.promotion-item-right h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.promotion-item-right h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

.promotion-item-right .promotion-content a {
  display: inline-block;
  height: 40px;
  padding: 0 34px;
  line-height: 36px;
}

.promotion-item-right a:hover {
  color: initial;
}

/* Gallery */
.section-instagram-gallery {
  margin-top: 80px;
  padding: 0 15px;
}

.section-description {
  margin-bottom: 30px;
}

.section-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: rgb(34, 34, 34);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 30px;
}

.section-title::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  right: -25%;
}

.section-title::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background: #222;
  position: absolute;
  top: 50%;
  left: -25%;
}

.section-description {
  color: #878787;
  text-align: center;
  padding: 5px 0;
  font-style: italic;
}

.gallery-item-list {
  margin: 0 -7px;
}

.gallery-item {
  position: relative;
  padding: 7px;
}

.gallery-item img {
  border-radius: 5px;
}

.gallery-item div {
  border-radius: 5px;
}

.btn-circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #eee;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 26px;
  position: absolute;
}

.position-19-67 {
  transform: translate(-67%, -19%);
  top: 19%;
  left: 67%;
}

.position-50-50 {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.position-33-90 {
  transform: translate(-90%, -33%);
  top: 33%;
  left: 90%;
}

.position-80-78 {
  transform: translate(-78%, -80%);
  top: 80%;
  left: 78%;
}

/* Blog */
.section-blog {
  margin-top: 80px;
}

.blog-item {
  margin-bottom: 40px;
}

.blog-content {
  margin-top: 15px;
}

.blog-title {
  color: #222;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.blog-info {
  margin: 10px 0;
}

.text-bold {
  color: #222;
}

.blog-description {
  line-height: 25px;
}

/* Carousel */
.section-instagram-carousel {
  margin-top: 80px;
  position: relative;
}

.carousel-list {
  margin: 0;
  margin-top: 20px;
}

.carousel-item {
  position: relative;
  padding: 0;
}

.position-39-39 {
  transform: translate(-39%, -39%);
  top: 39%;
  left: 39%;
}

.position-98-44 {
  transform: translate(-44%, -98%);
  top: 98%;
  left: 44%;
}

.position-32-67 {
  transform: translate(-67%, -32%);
  top: 32%;
  left: 67%;
}

.position-28-79 {
  transform: translate(-79%, -28%);
  top: 28%;
  left: 79%;
}

.position-48-66 {
  transform: translate(-48%, -66%);
  top: 66%;
  left: 48%;
}

.position-60-42 {
  transform: translate(-42%, -66%);
  top: 66%;
  left: 42%;
}

.section-instagram-carousel .carousel-btn-action {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.carousel-btn-action i {
  font-size: 20px;
  color: rgb(34, 34, 34);
}

.carousel-btn-action .btn {
  position: absolute;
  font-weight: 600;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(34, 34, 34);
  padding: 0;
  opacity: .3;
  background-color: transparent;
  border-radius: 50%;
}

.carousel-btn-action .btn-pre {
  left: 30px;
}

.carousel-btn-action .btn-next {
  right: 30px;
}

/* Service */
.section-service {
  margin-top: 50px;
}

.service-item {
  margin-bottom: 25px;
}

.service-item i {
  float: left;
  font-size: 36px;
  display: inline-block;
  width: 25%;
}

.service-info {
  color: #878787;
  line-height: 24px;
  height: 72px;
  width: 75%;
  display: inline-block;
}

.service-title {
  color: #222222;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 19px;
}

/* Footer */

.footer-top {
  background-color: #f6f6f8;
  padding: 80px 0 30px;
  color: rgb(135, 135, 135);
  margin: 0;
}

.footer-top-col {
  margin-bottom: 50px;
  line-height: 28px;
}

.footer-logo {
  display: block;
}

.footer-logo img {
  margin-bottom: 15px;
}

.contact-list {
  margin-top: 18px;
}

.contact-list li {
  margin-bottom: 18px;
  line-height: 25px;
}

.contact-item i {
  font-size: 24px;
  margin-right: 5px;
  height: 24px;
}

.span-pd-30 {
  padding-left: 30px;
}

.social-list .social-item {
  float: left;
  margin: 0 10px;
}

.social-list .social-item:first-child {
  margin-left: 0;
}

.footer-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: rgb(34, 34, 34);
  margin-bottom: 30px;
}

.footer-top-link-list li {
  margin-bottom: 5px;
  line-height: 30px;
}

.footer-top-col form {
  margin-top: 18px;
  display: block;
}

.form-newsletter {
  display: inline-block;
  position: relative;
}

.form-newsletter input {
  color: #878787;
  background-color: transparent;
  width: 100%;
  border-radius: 50px;
  padding: 10px 120px 10px 20px;
  border: 1px solid rgb(72, 72, 72);
  outline: none;
  height: 40px;
  line-height: 18px;
}

.form-newsletter .btn-submit {
  background-color: #222222;
  border-radius: 50px;
  padding: 0 20px;
  color: #fff;
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
}

.payment-list {
  margin: 20px 0 18px 0;;
}

.payment-list .payment-item {
  float: left;
  margin: 0 5px;
  font-size: 22px;
}

.payment-list .payment-item:first-child {
  margin-left: 0;
}

.footer-bottom {
  padding: 20px 0;
  line-height: 21px;
}

.copyright {
  display: inline-block;
  padding-right: 15px;
  width: 50%;
  text-align: left;
}

.footer-bottom-link-list {
  width: 50%;
  float: right;
  text-align: right;
}

.footer-bottom-link-list li {
  display: inline-block;
  margin: 0 20px;
}

.footer-bottom-link-list li:first-child {
  margin-left: 0;
}

