@font-face {
  font-family: "Poppins";
  src: url('../fonts/Poppins-Regular.eot');
  src: url('../fonts/Poppins-Regular.eot?#iefix') format("embedded-opentype"),
    url('../fonts/Poppins-Regular.woff2') format("woff2"),
    url('../fonts/Poppins-Regular.woff') format("woff"),
    url('../fonts/Poppins-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.eot');
  src: url('../fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-Black.woff2') format('woff2'),
      url('../fonts/Poppins-Black.woff') format('woff'),
      url('../fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BoldItalic.eot');
  src: url('../fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-BoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-BoldItalic.woff') format('woff'),
      url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-BlackItalic.eot');
  src: url('../fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-BlackItalic.woff2') format('woff2'),
      url('../fonts/Poppins-BlackItalic.woff') format('woff'),
      url('../fonts/Poppins-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.eot');
  src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff'),
      url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBoldItalic.eot');
  src: url('../fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLight.eot');
  src: url('../fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-ExtraLight.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraLight.woff') format('woff'),
      url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraBold.eot');
  src: url('../fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-ExtraBold.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraBold.woff') format('woff'),
      url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ExtraLightItalic.eot');
  src: url('../fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ExtraLightItalic.woff') format('woff'),
      url('../fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-LightItalic.eot');
  src: url('../fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
      url('../fonts/Poppins-LightItalic.woff') format('woff'),
      url('../fonts/Poppins-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.eot');
  src: url('../fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-Light.woff2') format('woff2'),
      url('../fonts/Poppins-Light.woff') format('woff'),
      url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Italic.eot');
  src: url('../fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-Italic.woff2') format('woff2'),
      url('../fonts/Poppins-Italic.woff') format('woff'),
      url('../fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.eot');
  src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-Medium.woff2') format('woff2'),
      url('../fonts/Poppins-Medium.woff') format('woff'),
      url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-MediumItalic.eot');
  src: url('../fonts/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-MediumItalic.woff2') format('woff2'),
      url('../fonts/Poppins-MediumItalic.woff') format('woff'),
      url('../fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.eot');
  src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff') format('woff'),
      url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBoldItalic.eot');
  src: url('../fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBoldItalic.woff') format('woff'),
      url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Thin.eot');
  src: url('../fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-Thin.woff2') format('woff2'),
      url('../fonts/Poppins-Thin.woff') format('woff'),
      url('../fonts/Poppins-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-ThinItalic.eot');
  src: url('../fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Poppins-ThinItalic.woff2') format('woff2'),
      url('../fonts/Poppins-ThinItalic.woff') format('woff'),
      url('../fonts/Poppins-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('../fonts/LibreBaskerville-Regular.eot');
  src: url('../fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/LibreBaskerville-Regular.woff2') format('woff2'),
      url('../fonts/LibreBaskerville-Regular.woff') format('woff'),
      url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('../fonts/LibreBaskerville-Italic.eot');
  src: url('../fonts/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/LibreBaskerville-Italic.woff2') format('woff2'),
      url('../fonts/LibreBaskerville-Italic.woff') format('woff'),
      url('../fonts/LibreBaskerville-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('../fonts/LibreBaskerville-Bold.eot');
  src: url('../fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/LibreBaskerville-Bold.woff2') format('woff2'),
      url('../fonts/LibreBaskerville-Bold.woff') format('woff'),
      url('../fonts/LibreBaskerville-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "sans-serif";
  font-size: 14px;
  color: #878787;
  background-color: white;
}

img {
  max-width: 100%;
}

a img {
  vertical-align: top;
}

a:hover {
  color: #56cfe1;
}

.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  border: none;
  background: none;
}

.text-red {
  color: #ec0101;
}

.text-cyan {
  color: #56cfe1;
}

/* Header Banner */
.header-banner {
  background-color: #e91e63;
  color: white;
}

.header-banner a:hover {
  color: white;
}

.header-banner__link {
  display: flex;
  height: 44px;
  align-items: center;
}

.header-banner__text {
  font-size: 12px;
  flex: 1;
  text-align: center;
}

.header-banner__text strong {
  font-size: 14px;
  font-weight: 600;
}

.header-banner button {
  color: white;
  padding: 0 15px;
}

.header-banner button:hover {
  color: #9188af;
}

/* Header */
.header-top {
  background-color: #f6f6f8;
  padding: 10px 15px;
  font-size: 12px;
}

.header-top .container-full {
  display: flex;
  height: 21px;
  text-align: center;
  align-items: center;
}

.contact-info {
  flex: 1;
  display: flex;
}

.contact-info li {
  margin-left: 15px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-info li:first-child {
  margin-left: 0;
}

.header-top__text {
  flex: 1;
}

.list-currency {
  flex: 1;
}

.header-bottom {
  background-color: #fff;
  color: rgb(39, 51, 52);
  padding: 0 15px;
}

.header-bottom .container-full {
  display: flex;
}

.mobile-nav {
  display: none !important;
  font-size: 18px;
}

.header-logo {
  flex: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-logo img {
  width: 95px;
  height: auto;
  padding: 5px 0;
  margin-left: 10px;
}

.header-nav {
  text-align: center;
  color: #222;
  flex: 2;
}

.header-menu {
  display: flex;
  justify-content: center;
  height: 70px;
}

.header-menu li a {
  padding: 0 17.5px;
  height: 100%;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-action {
  font-size: 18px;
  text-align: right;
  flex: 1;

  display: flex;
  justify-content: flex-end;
}

.header-action li {
  margin: 0 8px;
}

.header-action li a {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main */

/* Banner */

.section-banner {
  color: #fff;
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-title {
  font-size: 60px;
  font-weight: 700;
}

.banner-sub-title {
  font-size: 18px;
  font-style: italic;
  margin: 20px 0 30px 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid #222;
  border-radius: 40px;
  font-weight: 600;

  height: 40px;
}

.banner-content .btn-outline:hover {
  border-color: rgb(86, 207, 225);
  background-color: rgb(86, 207, 225);
  opacity: 0.8;
}

.banner-content a {
  padding: 5px 25px;
  border-color: #fff;
  width: 150px;
  align-self: center;
}

.banner-content a:hover {
  color: #fff;
}

/* Category */
.section-category {
  margin: 30px 0px;
  padding: 0 30px;
}

.category-list {
  display: flex;
  margin:0 -15px;
}

.category-item {
  flex: 0 0 25%;
  padding: 0 15px;
  position: relative;
}

.category-name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  padding: 12px 20px;
  background: #fff;
  min-width: 150px;
  text-align: center;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.category-name:hover {
  color: rgb(34, 34, 34);
}

.category-item div {
  overflow: hidden;
}

.category-item img {
  vertical-align: bottom;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

.category-item:hover img {
  transform: scale(1.11);
  -webkit-transform: scale(1.11);
  -o-transform: scale(1.11);
  -moz-transform: scale(1.11);
}

/* Promotion */
.promotion-list {
  display: flex;
}

.promotion-item {
  position: relative;
  color: rgb(53, 50, 50);
  flex: 1;
  padding: 0 15px;
}

.promotion-content {
  padding: 20px;
}

.promotion-item-left .promotion-content {
  position: absolute;
  bottom: 0;
}

.promotion-item-left a:hover + div {
  color: initial;
}

.promotion-item-left h5 {
  margin-bottom: 10px;
  font-weight: 500;
}

.promotion-item-left h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 600;
}

.promotion-item-left p {
  color: rgb(135, 135, 135);
}

.discount-percent-tag {
  position: absolute;
  top: 15px;
  right: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: rgb(255, 78, 0);
  width: 60px;
  height: 60px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion-item-top .fa-heart {
  position: absolute;
  top: 12px;
  left: 24px;
  cursor: pointer;
}

.promotion-action {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
}

.promotion-action li a {
  width: 150px;
  margin: 5px 0;
  background-color: #fff;
  border-radius: 40px;
  text-align: center;

  flex: 1;
  display: flex;
  flex-direction: center;
  justify-content: center;
  height: 40px
}

.promotion-action li a:hover {
  background: #222;
}

.time-counter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.time-counter-item {
  width: 60px;
  height: 60px;
  padding: 5px;
  margin: 0 2px 5px;
  border-radius: 3px;
  background-color: #101010;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time-number {
  height: 50%;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.time-unit {
  height: 50%;
  color: #999;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.promotion-item-product {
  display: none;
}

.promotion-item-right .promotion-content {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promotion-item-right h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.promotion-item-right h4 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

.promotion-item-right .promotion-content a {
  height: 40px;
  padding: 0 34px;
  width: 150px;
  align-self: center;
}

.promotion-item-right a:hover {
  color: initial;
}

/* Gallery */
.section-instagram-gallery {
  margin-top: 80px;
}

.section-description {
  font-family: "Libre Baskerville", "sans-serif";
  margin-bottom: 30px;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title__span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: rgb(34, 34, 34);
  margin: 0 30px;
}

.section-title::after {
  content: "";
  width: 60px;
  height: 2px;
  background: #222;
}

.section-title::before {
  content: "";
  width: 60px;
  height: 2px;
  background: #222;
}

.section-description {
  color: #878787;
  text-align: center;
  padding: 5px 0;
  font-style: italic;
}

.gallery-item-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery-item {
  position: relative;
  width: 24%;
  padding: 7px 0;
}

.gallery-item img {
  border-radius: 5px;
}

.gallery-item div {
  border-radius: 5px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  border: 2px solid #eee;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.position-19-67 {
  transform: translate(-67%, -19%);
  top: 19%;
  left: 67%;
}

.position-50-50 {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.position-33-90 {
  transform: translate(-90%, -33%);
  top: 33%;
  left: 90%;
}

.position-80-78 {
  transform: translate(-78%, -80%);
  top: 80%;
  left: 78%;
}

.gallery-item div {
  overflow: hidden;
}

.gallery-item img {
  vertical-align: bottom;
  -webkit-transition: opacity 0.3s ease,
    -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.3s ease,
    transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.gallery-item:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

/* Blog */
.section-blog {
  margin-top: 80px;
}
.blog-list {
  display: flex;
  justify-content: space-evenly;
}

.blog-item {
  margin-bottom: 40px;
  width: 31%;
}

.blog-content {
  margin-top: 15px;
}

.blog-title {
  color: #222;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.blog-info {
  margin: 10px 0;
}

.text-bold {
  color: #222;
}

.blog-description {
  line-height: 25px;
}

.blog-item div {
  overflow: hidden;
}

.blog-item img {
  vertical-align: bottom;
  -webkit-transition: opacity 0.5s ease,
    transform 2s cubic-bezier(0, 0, 0.44, 1.18),
    -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
  transition: opacity 0.5s ease, transform 2s cubic-bezier(0, 0, 0.44, 1.18),
    -webkit-transform 2s cubic-bezier(0, 0, 0.44, 1.18);
}

.blog-item:hover img {
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  -o-transform: scale(1.09);
  -moz-transform: scale(1.09);
}

/* Carousel */
.section-instagram-carousel {
  margin-top: 80px;
  position: relative;
}

.carousel-list {
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.carousel-item {
  position: relative;
  padding: 0;
  width: 16.666666666%;
}

.position-39-39 {
  transform: translate(-39%, -39%);
  top: 39%;
  left: 39%;
}

.position-98-44 {
  transform: translate(-44%, -98%);
  top: 98%;
  left: 44%;
}

.position-32-67 {
  transform: translate(-67%, -32%);
  top: 32%;
  left: 67%;
}

.position-28-79 {
  transform: translate(-79%, -28%);
  top: 28%;
  left: 79%;
}

.position-48-66 {
  transform: translate(-48%, -66%);
  top: 66%;
  left: 48%;
}

.position-60-42 {
  transform: translate(-42%, -66%);
  top: 66%;
  left: 42%;
}

.carousel-item div {
  overflow: hidden;
}

.carousel-item img {
  vertical-align: bottom;
  -webkit-transition: opacity 0.3s ease,
    -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.3s ease,
    transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.carousel-item:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

.section-instagram-carousel .carousel-btn-action {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.carousel-btn-action i {
  font-size: 20px;
  color: rgb(34, 34, 34);
}

.carousel-btn-action .btn {
  position: absolute;
  font-weight: 600;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(34, 34, 34);
  padding: 0;
  opacity: 0.3;
  background-color: transparent;
  border-radius: 50%;
}

.carousel-btn-action .btn-pre {
  left: 30px;
}

.carousel-btn-action .btn-next {
  right: 30px;
}

.carousel-btn-action .btn-next:hover,
.carousel-btn-action .btn-pre:hover {
  background-color: rgb(86, 207, 225);
}

/* Service */
.section-service {
  margin-top: 50px;
}

.service-list {
  display: flex;
}

.service-item {
  margin-bottom: 25px;
  width: 24%;
  display: flex;
  padding: 0 15px;
  flex: 1;
}

.service-item i {
  font-size: 36px;
  flex: 1;
}

.service-info {
  color: #878787;
  line-height: 24px;
  height: 72px;
  flex: 3;
}

.service-title {
  color: #222;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: 19px;
}

/* Footer */

.footer-top {
  background-color: #f6f6f8;
  padding: 80px 0 30px;
  color: rgb(135, 135, 135);
  margin: 0;
}

.footer-top .row {
  display: flex;
  justify-content: space-between;
}

.footer-top-col.col-3 {
  flex: 3;
}

.footer-top-col.col-2 {
  flex: 2;
}

.footer-top-col {
  margin-bottom: 50px;
  line-height: 28px;
  padding: 0 15px;
}

.footer-logo {
  display: block;
}

.footer-logo img {
  margin-bottom: 15px;
}

.contact-list {
  margin-top: 18px;
}

.contact-list li {
  margin-bottom: 18px;
  line-height: 25px;
}

.contact-item i {
  font-size: 24px;
  margin-right: 5px;
  height: 24px;
}

.span-pd-30 {
  padding-left: 30px;
}

.social-list {
  display: flex;
}

.social-list .social-item {
  margin: 0 10px;
}

.footer-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: rgb(34, 34, 34);
  margin-bottom: 30px;
}

.footer-top-link-list li {
  margin-bottom: 5px;
  line-height: 30px;
}

.footer-top-col form {
  margin-top: 18px;
  padding: 2px;
}

.form-newsletter {

  border-radius: 50px;
  border: 1px solid #878787;
  display: flex;
}

.form-newsletter input {
  color: #878787;
  background-color: transparent;
  border: 0;
  outline: 0;
  height: 40px;
  line-height: 18px;

  flex: 1;
  padding: 0 10px;
}

.form-newsletter .btn-submit {
  background-color: #222;
  border-radius: 50px;
  padding: 0 20px;
  color: #fff;

  flex: 1;
}

.payment-list {
  margin: 20px 0 18px 0;
  display: flex;
}

.payment-list .payment-item {
  margin-right: 10px;
  font-size: 22px;
}

.payment-list .payment-item:first-child {
  margin-left: 0;
}

.footer-bottom {
  padding: 20px 0;
  line-height: 21px;
}

.footer-bottom .row {
  display: flex;
}

.copyright {
  flex: 1;
  text-align: left;
  padding: 0 15px;
}

.footer-bottom-link-list {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
}

.footer-bottom-link-list li {
  margin-left: 20px;
}

.footer-bottom-link-list li a {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.footer-bottom-link-list li:last-child {
  margin-right: 0;
}
